/* @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,400;1,500&family=Lato:wght@100;300;400&family=Pacifico&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Arial', 'Lato';
}